.article_row_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.primary_text {
    font-weight: bold;
    font-size: 24px;
}

.article_row_skeleton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    animation: pulse 2s infinite;
    background: linear-gradient(to right, #59627A1A, #444B5D40);
    height: 250px;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}