.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background-color: #292f33 !important;
    font-weight: 700;
    color: grey;
    font-size: 24px;
}

.tabs_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 16px;
    align-items: center;
}

.mobile_icon {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile_icon {
        display: inline-block;
    }

    .tabs_wrapper {
        display: none;
    }

}