.general_btn {
    background-color: #0b6ed7 !important;
    border-color: #232745b7 !important;
    border-radius: 15px !important;
    box-shadow: 0 3px 12px 0 #0000002b !important;
    color: #fff !important;
    font-weight: 700 !important;
    padding: 9px 17px !important;
    transition: .5s ease !important;
}